{% extends "administration/core/base.html" %} {% load static %} 

{% block title %}Leads{% endblock %} 

{% block styles %}
<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />
{% endblock %} 

{% block statistics %}
    {% include 'operation/lead/includes/lead_statistics.html' %}
{% endblock statistics %}

{% block content %}
<!-- con este div le pasamos el nombre de la organization a JS de datatables -->
<div id="task-list" data-organization-slug="{{ organization_slug }}" class="d-none"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="datatable-tasks" class="table table-striped w-100 table_tasks">
                    <caption>
                        {{ titulo }}
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">Name</th>
                            <th class="centered">Lead</th>
                            <th class="centered">Product</th>
                            <th class="centered">Modified Time</th>
                            <th class="centered">Created By</th>
                            <th class="centered">Assigned to</th>
                            <th class="centered">Stage</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_tasks"></tbody>
                    <tfoot class="text-primary">
                        <tr>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="leadTaskModal" tabindex="-1" aria-labelledby="leadTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="leadTaskModalLabel"><span id="modal-task-name"></span></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-light" role="alert">  
            <p><strong>Lead:</strong> <span id="modal-name"></span> <a href="#"><span id="modal-lead-name"></span></a></p>
            <p><strong>Product:</strong> <span id="modal-product-name"></span></p>
            <p><strong>Modified By:</strong> <span id="modal-modified-by"></span></p>
            <p><strong>Modified Time:</strong> <span id="modal-modified-time"></span></p>
            <p><strong>Stage:</strong> <span class="badge bg-dark fs-6"><span id="modal-stage"></span></span> </p>
          </div>
            
          <div class="alert alert-secondary" role="alert">
            <strong>Assigned to:</strong> <span id="modal-assigned-to"></span>
          </div>  
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <div id="lead-task-delete-link-container"></div>
            <div id="lead-task-update-link-container"></div>         
        </div>
      </div>
    </div>
  </div>




{% endblock %} {% block scripts %}
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- datatable file buttons -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
<!-- datatable buttons collection -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

<!-- Custom Datatable JS -->
<script src="{% static 'js/be_crm_leadtask_datatable.js' %}"></script>

{% endblock %}