{% extends "administration/core/base.html" %} {% load static %} {% block title %}Leads{% endblock %} {% block styles %}
<!-- Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/searchbuilder/1.6.0/css/searchBuilder.dataTables.min.css" />

{% endblock %} {% block content %}
<!-- con este div le pasamos el nombre de la organization a JS de datatables -->
<div id="company-list" data-organization-slug="{{ organization_slug }}" class="d-none"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="datatable-companies" class="table table-striped table_companies" style="width: 100%">
                    <caption>
                        {{ titulo }}
                    </caption>
                    <thead>
                        <tr>
                            <th class="centered">Name</th>
                            <th class="centered">Email</th>
                            <th class="centered">Phone</th>
                            <th class="centered">Website</th>
                            <th class="centered">Industry</th>
                            <th class="centered">Created time</th>
                            <th class="centered">Created By</th>
                            <th class="centered">Industry</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody_companies"></tbody>
                    <tfoot class="text-primary">
                        <tr>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                            <th class="centered"></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dealCompanyModal" tabindex="-1" aria-labelledby="dealCompanyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="dealCompanyModalLabel"><span id="modal-company-name"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="alert alert-light" role="alert">  
            <p><strong>Email:</strong> <span id="modal-company-email"></span></p>
            <p><strong>Phone:</strong> <span id="modal-company-phone"></span></p>
            <p><strong>Website:</strong> <span id="modal-company-website"></span></p>
            <p><strong>Industry:</strong> <span id="modal-company-industry"></span></p>
            <p><strong>Modified By:</strong> <span id="modal-company-modified-by"></span></p>
            <p><strong>Modified Time:</strong> <span id="modal-company-modified-time"></span></p>
            <p><strong>Created By:</strong> <span id="modal-company-created-by"></span></p>
            <p><strong>Created Time:</strong> <span id="modal-company-created-time"></span></p>
            <div id="modal-company-deals" class="alert alert-light" role="alert">
                <h5>Related Deals</h5>
                <!-- Los productos del deal se listarán aquí -->
              </div>

              <div id="modal-company-clients" class="alert alert-light" role="alert">
                <h5>Related Clients</h5>
                <!-- Los productos del deal se listarán aquí -->
              </div>   
  
          </div>         
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>    
        </div>
      </div>
    </div>
  </div>











{% endblock %} {% block scripts %}
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
<!-- datatable file buttons -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/searchbuilder/1.6.0/js/dataTables.searchBuilder.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.5.1/js/dataTables.dateTime.min.js"></script>
<!-- datatable buttons collection -->
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>

<!-- Custom Datatable JS -->
<script src="{% static 'js/be_crm_company_datatable.js' %}"></script>

{% endblock %}