<nav class="navbar navbar-expand-sm bg-light navbar-light shadow sticky-top">
    <h1 class="title h3 align-middle m-0 text-nowrap ms-3">{{ title|default:"My CRM" }} <span class="badge bg-black badge-navbar">{{ crud }}</span></h1><!-- Muestra el título de la sección o un valor por defecto -->

    <div class="container-fluid justify-content-lg-end">          
        <!-- Boton offcanvas -->
        {% if request.user.is_authenticated and request.user.agent %}
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </button>   
        {% else %}
            <span class="ps-4">&nbsp;</span>
        {% endif %}        
        <!-- Boton offcanvas -->           
    </div>

</nav>

<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        {% if not request.user.is_authenticated %}
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blasting Experts</h5>
        {% else %}      
            {% if request.user.organizer %}
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    {{ request.user.organizer.organization }}
                </h5>
            {% endif %}  
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      {% if request.user.is_authenticated and request.user.agent %}
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 mx-4 mb-4">                  
                <li class="nav-item">
                    <a class="nav-link" href="#">Logged in as: <span class="badge bg-secondary fs-6">{{ request.user.username }}</span></a>
                </li>  

                <li class="nav-item offcanvas-logout">
                    <a class="link-offset-2" href="{% url 'logout' %}">Logout</a>
                </li>                                    
            </ul>
            <hr class="mt-3">

            {% if request.user.organizer %}
                <h5 class="offcanvas-title my-4 opacity-50">
                    Configuration
                </h5>

                <ul class="navbar-nav mx-4 offcanvas-link">                                    
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                        href="{% url 'country:list' organization_slug=organization_slug %}">Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="{% url 'product:list' organization_slug=organization_slug %}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="{% url 'product:category-list' organization_slug=organization_slug %}">Product Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page"
                            href="{% url 'currency:list' organization_slug=organization_slug %}">Currency</a>
                    </li>

                    <li class="nav-item">  
                        <a class="nav-link" aria-current="page"
                            href="{% url 'organization:upload-file' organization_slug=organization_slug %}">Images</a>                                     
                    </li>
                    <li class="nav-item">  
                        <a class="nav-link" aria-current="page"
                            href="{% url 'organization:media-library' organization_slug=organization_slug %}">Media Library</a>                                     
                    </li>
                   
                </ul>
            {% endif %}  
        {% endif %}                           
    </div>
</div>






