<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

    <!-- Boton offcanvas -->
    {% if request.user.is_authenticated and request.user.agent %}
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon link-underline-opacity-25 link-underline-opacity-100-hover"></span>
        </button>   
    {% else %}
        <span class="ps-4">&nbsp;</span>
    <!-- Boton offcanvas -->   
    {% endif %}        

    <h1 class="title h3 align-middle m-0 text-nowrap">{{ title|default:"My CRM" }} <span class="badge bg-black badge-navbar">{{ crud }}</span></h1><!-- Muestra el título de la sección o un valor por defecto -->

    <div class="container-fluid justify-content-lg-end">              
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start dropstart">
            <div class="dropdown">            
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                
                <ul class="dropdown-menu text-small">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logged in as: {{ request.user.username }}</a>
                    </li>                            
                    {% if request.user.organizer %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Configuration
                            </a>
                                <ul class="dropdown-menu">                                    
                                    <li>
                                        <a class="dropdown-item" aria-current="page"
                                        href="{% url 'country:list' organization_slug=organization_slug %}">Countries</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" aria-current="page"
                                            href="{% url 'product:list' organization_slug=organization_slug %}">Products</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" aria-current="page"
                                            href="{% url 'product:category-list' organization_slug=organization_slug %}">Product Categories</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" aria-current="page"
                                            href="{% url 'currency:list' organization_slug=organization_slug %}">Currency</a>
                                    </li>
        
                                    <li>  
                                        <a class="dropdown-item" aria-current="page"
                                            href="{% url 'organization:upload-file' organization_slug=organization_slug %}">Images</a>                                     
                                    </li>
                                    <li>  
                                        <a class="dropdown-item" aria-current="page"
                                            href="{% url 'organization:media-library' organization_slug=organization_slug %}">Media Library</a>                                     
                                    </li>
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                </ul>
                            </li>
                    {% endif %}  
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>            
            </div>        
        </div>
    </div>
</nav>


<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
        {% if not request.user.is_authenticated %}
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blasting Experts</h5>
        {% else %}      
            {% if request.user.organizer or request.user.agent %}
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    {% if request.user.organizer %}
                    {{ request.user.organizer.organization }}
                    {% elif request.user.agent %}
                    {{ request.user.agent.organization }}
                    {% endif %}                    
                </h5>
            {% else %}
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blasting Experts Inc.</h5>
            {% endif %}  
        {% endif %}
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <div class="offcanvas-body">
      {% if request.user.is_authenticated and request.user.agent %}
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">                    
                <li><a class="nav-link" href="{% url 'lead:list' organization_slug=organization_slug %}"><i class="fas fas fas fa-lightbulb"></i> Leads</a></li>
                <li><a class="nav-link" href="{% url 'lead:task-list' organization_slug=organization_slug %}"><i class="fas fas fas fa-tasks"></i> Lead Tasks</a></li>
                <li><a class="nav-link" href="{% url 'contact:contact-list' organization_slug=organization_slug %}"><i class="fas fas fa-address-book"></i> Contacs</a></li>    
                <hr>            
                <li><a class="nav-link" href="{% url 'deal:list' organization_slug=organization_slug %}"><i class="fas fa-handshake"></i> Deals</a></li>
                <li><a class="nav-link" href="{% url 'deal:task-list' organization_slug=organization_slug %}"><i class="fas fas fas fa-tasks"></i> Deal Tasks</a></li>
                <li><a class="nav-link" href="{% url 'client:client-list' organization_slug=organization_slug %}"><i class="fas fas fas fa-id-badge"></i> Clients</a></li>
                <li><a class="nav-link" href="{% url 'company:company-list' organization_slug=organization_slug %}"><i class="fas fas fas fa-building"></i> Companies</a></li>
                </li>    
            </ul>
        {% endif %}                           
    </div>
</div>






