{% extends "administration/core/base.html" %}
{% load static %}

{% block title %}Leads{% endblock %}


{% block content %}

<div class="container rounded shadow-sm bg-light border border-2 p-5 my-4">

    <form action="." method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-md-9">
                <label for="formGroupExampleInput2" class="form-label">Lead Nombre</label>
                {{ form.lead_name }}
            </div>
            <!-- Campo de Lead Source -->
            <div class="col-md-3">
                <label for="lead_source" class="form-label">Lead Source</label>
                {{ form.lead_source }}
            </div>
        </div>
        
        <div class="row mb-3">
            <div class="col-md-5">
                <label for="formGroupExampleInput2" class="form-label">Nombre</label>
                {{ form.first_name }}
            </div>
            <div class="col-md-4">
                <label for="formGroupExampleInput2" class="form-label">Apellido</label>
                {{ form.last_name }}
            </div>
            <!-- Campo de Title -->
            <div class="col-md-3">
                <label for="title" class="form-label">Title</label>
                {{ form.title }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-8">
                <label for="formGroupExampleInput2" class="form-label">Email</label>
                {{ form.primary_email }}
                {% if form.errors.primary_email %}
                    <div class="text-danger">{{ form.errors.primary_email }}</div>
                {% endif %}
            </div>        
        </div>

        <!-- Campos de Phone y Mobile Phone -->
    <div class="row mb-3">
        <div class="col-md-5">
            <label for="phone" class="form-label">Phone</label>
            {{ form.phone }}
        </div>
        <div class="col-md-5">
            <label for="mobile_phone" class="form-label">Mobile Phone</label>
            {{ form.mobile_phone }}
        </div>
    </div>

    <!-- Campo de Company Name -->
    <div class="row mb-3">
        <div class="col-md-8">
            <label for="company_name" class="form-label">Company Name</label>
            {{ form.company_name }}
        </div>
        <div class="col-md-2">
            <label for="industry" class="form-label">Industry</label>
            {{ form.industry }}
        </div> 
    </div>

    <!-- Campo de Company Email -->
    <div class="row mb-3">
        <div class="col-md-7">
            <label for="company_email" class="form-label">Company Email</label>
            {{ form.company_email }}
        </div>
        <div class="col-md-3">
            <label for="company_phone" class="form-label">Company Phone</label>
            {{ form.company_phone }}
        </div>
    </div>

    <!-- Campo de Website -->
    <div class="row mb-3">
        <div class="col-md-8">
            <label for="id_website" class="form-label">Website</label>
            {{ form.website }}
            {% if form.errors.website %}
                <div class="text-danger">{{ form.errors.website }}</div>
            {% endif %}
        </div>
    </div> 

    <div class="row mb-3">
        <div class="col-md-4">
            <label for="formGroupExampleInput2" class="form-label">Country</label>
            {{ form.country }}
        </div>
        <div class="col-md-2">
            <label for="formGroupExampleInput2" class="form-label">Currency</label>
            {{ form.currency }}
        </div>  
    </div>


        <div class="row mb-3">
            <div class="col-md-12">
                <label for="description" class="form-label">Description</label>
                {{ form.description }}
            </div>
        </div>
        

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="formGroupExampleInput2" class="form-label">Start Date</label>
                {{ form.start_date_time }}
            </div>
            <div class="col-md-4">
                <label for="formGroupExampleInput2" class="form-label">End Date</label>
                {{ form.end_date_time }}
            </div>
            <div id="div_id_extended_end_date_time" style="display: none;" class="col-md-4">
                <label for="formGroupExampleInput2" class="form-label">Extended End Date</label>
                {{ form.extended_end_date_time }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-5">
                <label for="formGroupExampleInput2" class="form-label">Assigned to</label>
                {{ form.assigned_to }}
            </div>
        </div>

        <div class="row mb-3">
            {{ formset.management_form }} {# Incluir el management_form aquí #}
            {% for form in formset %}
                <div class="col-md-5">
                    <label for="formGroupExampleInput2" class="form-label">Product</label>
                    {{ form.product }}
                </div>
                <div class="col-md-5">
                    <label for="formGroupExampleInput2" class="form-label">Cotizacion URL</label>
                    {{ form.cotizacion_url }}
                </div>
                {% endfor %}

        </div>

        <br>

        <div class="row my-4">
            <div class="btn-group">
                <button type="button" onclick="window.history.back();" class="btn btn-secondary">Return</button> 
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>

    </form>

</div>

{% endblock %}

