{% extends "administration/core/base.html" %}

{% block title %}Countries{% endblock %}

{% block content %}

<h1 class="text-xl">Country {{ country.name }}</h1>
<br><br>

<div class="row mb-3">
    <div class="col-md-4">
        <label for="leadGroupExampleInput2" class="lead-label">Codigo:</label>
        {{ country.code }}
    </div>
    <div class="col-md-8">
        <label for="leadGroupExampleInput2" class="lead-label">Selected:</label>
        {{ country.is_selected }}
    </div>
    <div class="col-md-8">
        <a href="{% url 'country:update' pk=country.pk organization_slug=organization_slug %}" class="btn btn-primary">Update</a>
        <a href="{% url 'country:delete' pk=country.pk organization_slug=organization_slug %}" class="btn btn-danger">Delete</a>
    </div>
</div>







{% endblock %}