{% extends "administration/core/base.html" %}

{% block title %}currencies{% endblock %}

{% block content %}

<h1 class="text-xl">currency {{ currency.code }}</h1>
<br><br>

<div class="row mb-3">
    <div class="col-md-8">
        <a href="{% url 'currency:update' pk=currency.pk organization_slug=organization_slug %}" class="btn btn-primary">Update</a>
        <a href="{% url 'currency:delete' pk=currency.pk organization_slug=organization_slug %}" class="btn btn-danger">Delete</a>
    </div>
</div>







{% endblock %}